
         img {  
                margin: 0; 
                padding: 0px;
         }

        p {
            margin: 2px;
            padding: 2px;
        }
          td {
             border-width:1px;
             border-top-style:dotted;
             border-right-style:dotted;
             text-align: center;
             vertical-align: middle;
             
         }
         #main {
            float: left;
            margin: 0; 
            padding: 0px;
            position: absolute;
            top: 40px;
            left: 0;

         }
         #maker {
            width: 350px;
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            
         }
         #label {
            margin-left: 0px;
            margin-bottom: 0px;
         }
       
       #output {
        position: absolute;
left: 0;
width: 301px;
       }
#top {
 position: fixed;
top: 0;
left: 0;
height: 30px;
width: 71%;
z-index: 3000;
}

fieldset {
    width: 100%;
    position: relative;
    left: -25px;
}
fieldset > input {
    width: 95%;
}
#output {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
}